

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,h1{
    font-family: 'GmarketSansMedium';
}
.h1{
    display: none;
}
body{
    animation-name: slidein;
    animation-duration: 4.45s; /* 애니메이션 지속 시간 */
   /* animation-iteration-count: infinite; */
   /* animation-direction: alternate; */
   user-select: none;
  }

  @keyframes slidein {
    from {
   opacity: 0%;
    }
    to {
        opacity: 100%;

    }
  }









.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 12등분 그리드 시스템 */
    gap: 10px; /* 항목 간 간격 */
  }

  .he {
    grid-column: span 1; 
    border: black solid 1.45pt;
    padding:3.99mm
  }