

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,h1{
    font-family: 'GmarketSansMedium';
}
.h1{
    display: none;
}
body{
    animation-name: slidein;
    animation-duration: 4.45s; /* 애니메이션 지속 시간 */
   /* animation-iteration-count: infinite; */
   /* animation-direction: alternate; */
   display: none;
   user-select: none;
  }

  @keyframes slidein {
    from {
   opacity: 0%;
    }
    to {
        opacity: 100%;

    }
  }
#result,#searchresult{
    border: rgb(78, 99, 60) solid 1.45pt;
    text-align: center;
    border-radius: 4pt;
    color:White;
    border:3.15pt black solid
}
#moreresult{
    border:rgb(57, 67, 71) 1.56pt solid;
}
.forecast,.openmeteoc{
    border: rgb(78, 99, 60) solid 1.45pt;
    border-radius: 4pt;
}
.air{
    border:rgb(51, 255, 0) 5pt solid;
    border-radius: 4pt;
}
progress{
    width: 100%  ;
}
#img{
   width: 20pt;
   height: 20pt;
}
.language{
   border: 1.56pt black solid;
   border-radius:5pt ;
}
#b{
    font-size:13pt
}
input{
    background-color: rgb(135, 199, 151);
    color:White;
    font-size: 15pt;
    border-radius: 3pt;
    width: 80%;
}
button{
    font-size: 15pt;
    background-color: rgb(120, 214, 122);
    color:white;
    border-radius: 3pt;
}
#pp{
    color:rgb(0, 0, 0);
    border: rgb(78, 99, 60) solid 1.45pt;
}
#att{
    display: none;
}
img{
    width: 2cm;
    height: 2cm;
    border-radius: 6pt;
}







.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 12등분 그리드 시스템 */
    gap: 10px; /* 항목 간 간격 */
  }

  .he {
    grid-column: span 1; 
    border: rgb(78, 99, 60) solid 2.45pt;
    padding:5.99mm
  }
 
  .dark-mode{
    background-color: rgb(21, 24, 24);
    color:white;
  }
